{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="fw-semibold text-center py-5">Profile</h2>
            </div>
        </div>
        <div class="row offset-md-3">
            <div class="col-md-8 col-sm-10">
                <div class="card w-100 text-start">
                    <div class="card-body">
                        <div class="row py-2 text-center">
                            <i class="bi bi-person-circle" style="font-size:50px"></i>
                        </div>
                        <div class="row py-2">
                            <div class="offset-md-1 col-4">Username:</div>
                            <div class="col text-center fw-semibold">{{ user.username }}</div>
                        </div>
                        <div class="row py-2">
                            <div class="offset-md-1 col-4">Fullname:</div>
                            <div class="col text-center fw-semibold">{{ user.first_name.capitalize }} {{ user.last_name.capitalize }}</div>
                        </div>
                        <div class="row py-2">
                            <div class="offset-md-1 col-4">Email:</div>
                            <div class="col text-center fw-semibold">{{ user.email }}</div>
                        </div>
                        <div class="row py-2">
                            <div class="offset-md-1 col-4">Date joined:</div>
                            <div class="col text-center fw-semibold">{{ user.date_joined|date:"F d, Y" }}</div>
                        </div>
                        <div class="row py-2">
                            <div class="offset-md-1 col-4">Last login:</div>
                            <div class="col text-center fw-semibold">{{ user.last_login }}</div>
                        </div>
                        {% if can_change_password %}
                            <div class="row py-2">
                                <div class="d-flex justify-content-evenly">
                                    <a class="btn btn-outline-primary"
                                       href="{% url 'change_password' username=request.user.username %}">
                                        Change password
                                    </a>
                                    <a class="btn btn-outline-danger" href="{% url 'logout' %}">
                                        Logout
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock %}

{% block additional %}
    <h2 class="text-center mt-3">{{ user }}'s ads</h2>
    <br>
    <div class="col-10 offset-1">
        {% for ad in ads %}
            <div class="row cols-1 py-4">
                <div class="col mx-5">
                    <a href="{% url "ad_detail" category=ad.category.url_name ad=ad.pk %}">
                        <div class="card" id="ca">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3 w-25">
                                        {% if ad.image %}
                                            <img class="img-fluid"
                                                 style="height: 150px; width: 150px; object-fit: cover"
                                                 src="{{ ad.image.url }}"
                                                 alt="{{ ad.title }}">
                                        {% else %}
                                            <img class="img-fluid"
                                                 style="height: 150px; width: 150px; object-fit: cover"
                                                 src="https://via.placeholder.com/250"
                                                 alt="{{ ad.title }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-9 text-start p-0">{{ ad.title }}</div>
                                            <div class="col text-end">
                                                {% if ad.price != 0 %}
                                                    {{ ad.price }} ₸
                                                {% else %}
                                                    <span class="text-success">For free</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row h-75">
                                            {% if ad.category.name != 'Animals' %}
                                                <div class="badge rounded-pill bg-secondary col-1 h-25 py-2">
                                                    {{ ad.condition }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="row d-flex align-content-end">
                                            <div class="col-9 text-secondary text-start p-0">
                                                {{ ad.created_at }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}