{% extends 'base.html' %}

{% block title %}
    {{ ad.title }}
{% endblock %}

{% block additional %}
    <div class="col-10 offset-1 mb-5">
        <div class="card">
            <h5 class="card-header">
                {{ ad.title }}
                {% if ad.category.url_name != 'animals' %}
                    <span class="mx-2 badge bg-secondary rounded-pill">{{ ad.condition }}</span>
                {% endif %}
            </h5>
            <div class="card-body d-flex justify-content-between">
                <img src="{{ ad.image.url }}" class="card-img-center img-fluid mt-3 mx-5"
                     style="height: 300px; width: fit-content; max-width:400px; object-fit: cover">
                <div class="w-50">
                    <p class="card-subtitle font-light" style="color: #8C52FF;"><strong
                            class="text-black">Description: </strong><br>{{ ad.description }}</p>
                    <hr>
                    <p class="mt-2" id="tt" style="color: #8C52FF;">
                        {% if ad.category.url_name == 'for_nothing' %}
                            <span class="text-success">FREE!</span>
                            {% else %}
                            <span class="fw-bold text-black">Price: <span style="color: #8C52FF;">{{ ad.price }} ₸</span></span>
                        {% endif %}
                    </p>
                    <hr>
                    <p class="card-subtitle mt-2" style="color: #8C52FF;"><strong class="text-black">Phone
                        number: </strong>{{ ad.phone }}</p>
                    <hr>
                    <p class="card-subtitle mt-2" style="color: #8C52FF;"><strong class="text-black">Owner
                        name: </strong>{{ ad.owner }}</p>
                    <hr>
                    {% if ad.owner == request.user %}
                        <div class="d-flex justify-content-end w-100">
                            <button class="btn border rounded btn-outline-primary mx-3">Edit</button>
                            <button class="btn border rounded btn-outline-danger">Delete</button>
                        </div>
                    {% else %}
                        <div>
                            <a href="{% if user.is_authenticated %} {% else %} {% url 'login' %} {% endif %}" class="nav-link fw-semibold position-relative">
                                <i class="bi bi-heart"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}